AUTH_SECRET=RANDOM_STRING

NEXTAUTH_URL='http://localhost:3000'

# GitHub oAuth (TESTING ONLY!!!)
GITHUB_ID='86ba9f3afabdb0191e5a'
GITHUB_SECRET='33da7d7be52d32e38edf6eefac596cf9fbe25607'

# Email (magic link)
SMTP_HOST=YOUR_SMTP_HOST
SMTP_PORT=YOUR_SMTP_PORT
SMTP_USER=YOUR_SMTP_USERNAME
SMTP_PASSWORD=YOUR_SMTP_PASSWORD
SMTP_FROM=YOUR_REPLY_TO_EMAIL_ADDRESS

# Prisma server
# User and password are url encoded
DATABASE_URL=postgresql://username:password@example.com/db_name
